      <%# Notice %>
      <% if notice.present? %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <%# Alert %>
      <% if alert.present?%>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end%>
      <%# End of Messages(Alert/notice) %>
